@media print {
    button {
		display: none;
	}
}

text {
	font-size: 12px;
}
/* 
circle {
	fill: none;
	stroke: gray;
	stroke-opacity: 0.5;
}
line{
	y2: 100px; */
/* } */
.captions {
	font-size: 3px;
}